{% load static %} 

 <div class='navbar'>
                <a href='/'><img class='logojpg' src="{% static 'IMG_7229.JPG' %}" width='100' height='100'/></a>
                <a href='/news'>NEWS</a>
                <a href='/biography'>BIOGRAPHY</a>
                <a href=''>DISCOGRAPHY</a>
                <a href='' target='_blank'>TICKET</a> <!-- ここから下別リンク　-->
                <a href='' target='_blank'>FANCLUB</a> 
                <a href='' target='_blank'>SOLO</a>
                <a href='' target='_blank'>STORE</a>
</div>